.container-fluid{
    padding-top: 50px;
    background-color: #56ab2f;
    margin-top: 100px;
    color: white;
    border-bottom: 1px solid #56ab2f; //Corregir hueco blanco del footer
    
}
.redes{
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: white;
        color:#56ab2f ;
        border-radius: 50%;       
        padding: 10px;
        i{
            font-size: 2em;
        }
    }
}
hr{
    border-color: white;
    
}
.form{
    p{
        margin-top: 10px;
    }
    button{
        margin-top:30px;
        width:100%;
        background-color: white;
        color: rgb(47, 47, 47);
        border: none;
        &:hover{
            transition: all 0.5s;
            color: white;
            background:linear-gradient( 45deg, #a8e063,#56ab2f);
      
        }
    }
    
}