<footer class="container-fluid sticky-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h3>Acerca de ...</h3>
        <hr />
        <p>
          Kitchen Manager es una página web que ayuda a gestionar tu
          local.Herramientas cómo el sistema de comandas, permitirá a tus
          trabajadores trabajar y comunicarse más eficientemente.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h3>Redes Sociales</h3>
        <hr />
        <div class="redes">
          <div>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
          <div><i class="fa fa-google-plus" aria-hidden="true"></i></div>
          <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
          <div><i class="fa fa-youtube" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <h3>Contáctanos</h3> 
        <hr/>
        <!--Enviar correo AÑADIR FORM-->
        <div class="form">
            
            <span>Comentario</span>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      
            <span>Name*</span>
            <input type="text" class="form-control">
        
            <span>Email*</span>
            <input type="text" class="form-control">
            <button type="submit" name="button" class="btn login_btn">
              Enviar consulta
            </button>

        </div>
      </div>
      
    </div>
    <hr />

    <p class="text-center">
      Copyrigth&copy; 2020 All Rights Reserved by Miguel.
    </p>
  </div>
</footer>
