<div class="container-fluid bg-light">
    <nav class=" container navbar navbar-expand-md">
      <a class="navbar-brand">
        <img src="../../assets/images/logo.svg" alt="Logo" />
      </a>
      <button
        class="navbar-toggler collapsed"        
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item" routerLink="" routerLinkActive="active">
            <a class="nav-link">Inicio</a>
          </li>
          <li
            class="nav-item"
            routerLink="/funcionamiento"
            routerLinkActive="active"
          >
            <a class="nav-link">¿Cómo funciona?</a>
          </li>
          <li class="nav-item" routerLink="/registro" routerLinkActive="active">
            <a class="nav-link">Registrarse</a>
          </li>
          <li class="nav-item" routerLink="/login" routerLinkActive="active">
            <a class="nav-link">Entrar</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>