.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  width: 15%;
  max-width: 15%;
  img {
    width: 100%;
  }
}
.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.derecha {
  display: flex;
  justify-content: flex-end;
}
.barra {
  font-size: 16px;
  justify-content: space-around;
}
.nav-link {
  cursor: pointer;
  &:hover {
    color:  rgb(132, 255, 8)!important;
  }
}

* {
  //border: 1px solid black;
}
//pruebas
li {
  color: #000000;
}

//Movil
@media (max-width: 576px) {
  .navbar-brand {
    width: 50%;
    max-width: 50%;
    img {
      width: 100%;
    }
  }
}
