.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-fluid {
  color: white;
  background: #56ab2f;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.derecha {
  display: flex;
  justify-content: flex-end;
}
.barra {
  font-size: 16px;
  justify-content: space-around;
}
.nav-item{
  border: none;
}
.nav-link {
  cursor: pointer;
  border: none;
  &:hover {
    font-weight: bold;
    font-size: 20px;
    
  }
}
.navbar-toggler-icon {
  color: white;
}
