.formulario {
  margin-bottom: auto;
  background: linear-gradient(45deg, #56ab2f, #a8e063);
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

  .login_btn {
    
    
    background-color: white;
    color: rgb(47, 47, 47);
    border: none;
    &:hover {
      transition: all 0.5s;
      color: white;
      background: linear-gradient(45deg, #a8e063, #56ab2f);
    }
  }
  
  tr{
    display: flex;
    justify-content: space-between;
  }

}
table {
  width: 100%;
}
td,
th {
  padding: 20px;
}
.productos:nth-of-type(2n) {
  background-color: #a8e063;
}
.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.centrar{
  display: flex;
  justify-content: center!important;
}
pagination-controls {
  margin: 20px;
}
.error {
  margin-top: 0px;
  padding: 0px;
  font-size: 14px;
  color: #721c24;
  background-color: #f5c6cb;
}
.scroll {
  overflow-x: scroll;
  margin-top: 10px;
}
.abrirform {
  color: white;
  background:  #56ab2f;
  &:hover {
    transition: all 0.5s;
    
    background: #a8e063;
  }
}
