<app-navbar></app-navbar>

<div class=" container-fluid principal  ">
  <div class="contenido animacionPrincipal">
    <h1>¡GESTIONA TU RESTAURANTE!</h1>
    <h2>MÁS FÁCIL , MÁS RAPIDO</h2>
    <button routerLink="/registro" routerLinkActive="active">
      <a>¡EMPIEZA AHORA!</a>
    </button>
  </div>
</div>
<section class="container imagenes">
  <article class="row">
    <div class="col-6">
      <img src="../../assets/images/principal/principal1.jpg" alt="">
    </div>
    <div class="col-6 centrar">
      <h3>Organiza mejor a tu plantilla</h3>
    </div>
  </article>
  <article class="row">
    <div class="col-6">
      <h3>Cientos de distribuidores a un sólo click</h3>

    </div>
    <div class="col-6 centrar">
      <img src="../../assets/images/principal/principal2.jpg" alt="">
    </div>
    </article>
</section>
