
<div class="pagina">
  <header class="container-fluid principal">
    <div class="contenido animacionPrincipal">
      <h1>¡GESTIONA TU RESTAURANTE!</h1>
      <h2>MÁS FÁCIL , MÁS RAPIDO</h2>
      <button routerLink="/registro" routerLinkActive="active">
        <a>¡EMPIEZA AHORA!</a>
      </button>
    </div>

    <div class="ola" style="height: 100px; overflow: hidden;">
      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 100%; width: 100%;"
      >
        <path
          d="M0.00,49.98 C149.99,150.00 240.12,-4.44 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #f5f5f5;"
        ></path>
      </svg>
    </div>
  </header>

  <section class="container-fluid alinear cajas">
    <div class="container">
      <h2>Lleva la innovación a tu local</h2>
      <hr>
      <div class="row">
        <article class="col-sm-12 col-md-6 col-lg-4">
          <div class="caja">
            <i class="fa fa-cloud" aria-hidden="true"></i>

            <h3 class="mt-4">Conecta tu local</h3>
            <p>Ten el control total de tu negocio nada más registrarte.</p>
          </div>
        </article>
        <article class="col-sm-12 col-md-6 col-lg-4">
          <div class="caja">
            <i class="fa fa-money" aria-hidden="true"></i>

            <h3 class="mt-4">Totalmente gratis</h3>
            <p>Crea tu cuenta desde ya sin coste alguno.</p>
          </div>
        </article>
        
        <article class="col-sm-12 col-md-12 col-lg-4">
          <div class="caja">
            <i class="fa fa-cogs" aria-hidden="true"></i>

            <h3 class="mt-4">Más eficiencia</h3>
            <p>Mejora de sistema de comandas automatizado.</p>
          </div>
        </article>
        
      </div>
      <hr class="mt-5">
    </div>
  </section>

  <!--CAROUSEL-->
  <div class="container-fluid margen-container centrar">
    <div
      id="carousel"
      class="carousel slide carousel-fade"
      data-ride="carousel"
      data-interval="6000"
    >
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <picture>
            <source srcset="assets/images/principal/principal1-1500.webp" media="(min-width: 1200px)" />
            <source srcset="assets/images/principal/principal1-1200.webp" media="(min-width: 750px)" />
            <source srcset="assets/images/principal/principal1-700.webp" media="(min-width: 578px)" />
            <source srcset="assets/images/principal/principal1-400.webp" media="(max-width: 577px)" />
            <img
              srcset="assets/images/principal/principal1.jpg"
              alt="responsive image"
              class="d-block img-fluid"
            />
          </picture>

          <div class="carousel-caption">
            <div>
              <h2>Gestiona a tus empleados</h2>
              <p>Control de la plantilla y sus nóminas</p>
            </div>
          </div>
        </div>
        <!-- /.carousel-item -->
        <div class="carousel-item">
          <picture>
            <source srcset="assets/images/principal/principal2-1500.webp" media="(min-width: 1200px)" />
            <source srcset="assets/images/principal/principal2-1200.webp" media="(min-width: 750px)" />
            <source srcset="assets/images/principal/principal2-700.webp" media="(min-width: 578px)" />
            <source srcset="assets/images/principal/principal2-400.webp" media="(max-width: 577px)" />
            <img
              srcset="assets/images/principal/principal2.jpg"
              alt="responsive image"
              class="d-block img-fluid"
            />
          </picture>

          <div class="carousel-caption">
            <div>
              <h2>Sistema de comandas</h2>
              <p>Una sencilla y moderna de atender a los clientes</p>
            </div>
          </div>
        </div>
        <!-- /.carousel-item -->
        <div class="carousel-item">
          <picture>
            <source srcset="assets/images/principal/principal3-1500.webp" media="(min-width: 1200px)" />
            <source srcset="assets/images/principal/principal3-1200.webp" media="(min-width: 750px)" />
            <source srcset="assets/images/principal/principal3-700.webp" media="(min-width: 578px)" />
            <source srcset="assets/images/principal/principal3-400.webp" media="(max-width: 577px)" />
            <img
              srcset="assets/images/principal/principal3.jpg"
              alt="responsive image"
              class="d-block img-fluid"
            />
          </picture>

          <div class="carousel-caption">
            <div>
              <h2>Añadir otra imagen</h2>
              <p> Incidunt magnam rem commodi in veritatis totam!</p>
            </div>
          </div>
        </div>
        <!-- /.carousel-item -->
      </div>
      <!-- /.carousel-inner -->
      <a
        class="carousel-control-prev"
        href="#carousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <app-footer></app-footer>
</div>

