.container{
    h3{
        margin-top: 50px;
        text-align: center;
    }
    .datos{
        background-color: #a8e063;
    }
    .datos:nth-of-type(2n) {
        background-color: white;
        
      }
    table{
        margin-top: 20px;
        td{
            padding: 10px;
        }
        width: 100%;
    }

}