.categorias,
.especialidad {
  width: 100%;
  margin-top: 20px;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px ;
  border-bottom: 1px solid black;
  div {
    background-color: #56ab2f;
    padding: 20px;
    border: none;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #59bd2a;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    } 
  }
  .comida,
  .bebida {
    display: none;
  }
}
.panel_mesa{
  display:none;
  flex-direction: column;
}
.productos {
  p {
    background-color: #56ab2f;
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #59bd2a;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    } 
  }
}

.seleccionado {
  background-color: black;
}
.nuevamesa {
  margin-bottom: auto;
  background: linear-gradient(45deg, #56ab2f, #a8e063);
  color: white;
  position: relative;
  
  padding: 10px;
  form{
  p{
    font-weight: bold;
  }
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  input{
    margin-bottom: 20px;
  }
  .login_btn {
    width: 200px;
    background-color: white;
    color: rgb(47, 47, 47);
    border: none;
    &:hover {
      transition: all 0.5s;
      color: white;
      background: linear-gradient(45deg, #a8e063, #56ab2f);
    }
  }
}

.btn_nuevamesa {
  color: white;
  background:  #56ab2f;
  &:hover {
    transition: all 0.5s;
    
    background: #a8e063;
  }
}
.botones_mesas{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.mesas {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  flex-wrap: wrap;
  div {
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
  }
}
.libre {
  background-color: green;
}
.lleno {
  background-color: red;
}
.productos_pedidos{
  
}
.botones{
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}
