.categorias,
.especialidad {
  width: 100%;
  margin-top: 20px;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px ;
  border-bottom: 1px solid black;
  div {
    background-color: #56ab2f;
    padding: 20px;
    border: none;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #59bd2a;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    } 
  }
  .categoria{
    display: none;
  }
  .comida,
  .bebida {
    display: none;
  }
}
.panel_mesa{
  display:none;
  flex-direction: column;
  h2{
    margin-top: 30px;
    text-align: center;
  }
}
.comanda{
  
  border: 1px solid black;
  margin: auto;
  background:#ffffccfd;
 
  padding:1em;
  box-shadow: 22px 24px 53px -13px rgba(0,0,0,0.38);
  button{
   margin: 10px;
  }
  .titulo{
    font-weight: bold;
  }
  li{
   list-style: none;
   margin: auto; 
  }
}
.botones{
  button{
    margin-top:20px;
  }
margin-top: 60px;
 display: flex;
  justify-content: space-evenly;
 flex-wrap: wrap;
}

.productos {
  p {
    background-color: #56ab2f;
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #59bd2a;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    } 
  }
}

.seleccionado {
  background-color: black;
}
.nuevamesa {
  margin-bottom: auto;
  background: linear-gradient(45deg, #56ab2f, #a8e063);
  color: white;
  position: relative;
  
  padding: 10px;
  form{
  p{
    font-weight: bold;
  }
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  input{
    margin-bottom: 20px;
  }
  .login_btn {
    width: 200px;
    background-color: white;
    color: rgb(47, 47, 47);
    border: none;
    &:hover {
      transition: all 0.5s;
      color: white;
      background: linear-gradient(45deg, #a8e063, #56ab2f);
    }
  }
}

.btn_nuevamesa {
  
  color: white;
  background:  #56ab2f;
  &:hover {
    transition: all 0.5s;
    
    background: #a8e063;
  }
}
.botones_mesas{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.mesas {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  flex-wrap: wrap;
  .decoracion{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .asiento{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;

  }
  .mesa {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
  }
  .sillas{
    width: 10px;
    height: 30px;
    border-radius: 20%;
    border: 1px solid black;
  }
}
.libre {
  background-color: green;
}
.lleno {
  background-color: red;
}
.productos_pedidos{
  
}
