<div class="container-fluid fondo">
  <div class="d-flex justify-content-center blanco">
    <div class="formulario">
      <div class="d-flex justify-content-center">
        <h2>REGÍSTRATE</h2>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="wrap-input">
            <input
              class="input"
              type="text"
              placeholder="Usuario"
              formControlName="usuario"
              id="usuario"
              (blur)="linea('usuario')"
              maxlength="15"
            />
            <span class="focus-input"></span>
          </div>

          <div
            class="error"
            *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)"
          >
            <div *ngIf="usuario.errors.required">
              Usuario obligatorio
            </div>
            <div
              *ngIf="
                usuario.invalid &&
                (usuario.dirty || usuario.touched) &&
                usuario.errors.pattern
              "
            >
              Usuario no válido
            </div>
            <div *ngIf="usuario.errors.minlength">
              Tamaño mínimo de 5
            </div>
          </div>
          <div class="wrap-input">
            <input
              class="input"
              type="text"
              name="name"
              placeholder="Nombre completo"
              formControlName="nombre"
              id="nombre"
              (blur)="linea('nombre')"
            />
            <span class="focus-input"></span>
          </div>

          <div class="wrap-input">
            <input
              class="input"
              type="text"
              name="name"
              placeholder="Correo"
              formControlName="correo"
              id="correo"
              (blur)="linea('correo')"
            />
            <span class="focus-input"></span>
          </div>

          <div
            class="error"
            *ngIf="correo.invalid && (correo.dirty || correo.touched)"
          >
            <div *ngIf="correo.errors.required">
              Correo obligatorio
            </div>
            <div
              *ngIf="
                correo.invalid &&
                (correo.dirty || correo.touched) &&
                correo.errors.pattern
              "
            >
              Correo no válido
            </div>
          </div>

          <div class="wrap-input">
            <input
              class="input"
              type="password"
              name="password"
              placeholder="Contraseña"
              formControlName="password1"
              id="password1"
              (blur)="linea('password1')"
            />
            <span class="focus-input"></span>
          </div>

          <div class="error" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
            <div *ngIf="password1.errors.required">
              Contraseña obligatorio
            </div>
            <div *ngIf=" password1.invalid && (password1.dirty || password1.touched) && password1.errors.pattern">
              No segura, minimo 6 caracacteras y al menos 1 minúscula , una mayúscula y un número sin espacios.
            </div>            
          </div>

          <div class="wrap-input">
            <input
              class="input"
              type="password"
              name="password"
              placeholder="Repetir contraseña"
              formControlName="password2"
              id="password2"
              (blur)="linea('password2')"
            />
            <span class="focus-input"></span>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customControlInline"
              />
              <label class="custom-control-label" for="customControlInline"
                >Recuérdame</label
              >
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">
              Regístrate
            </button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          ¿Ya tienes cuenta?<a
            class="ml-1"
            routerLink="/login"
            routerLinkActive="active"
            >Iniciar sesión</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
