<div class="container-fluid fondo">
  <div class="d-flex justify-content-center blanco">
    <div class="formulario">
      <div class="d-flex justify-content-center">
        <h2>REGÍSTRATE</h2>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form>
          <div class="wrap-input">
            <input
              class="input"
              type="text"
              name="name"
              placeholder="Usuario"
            />
            <span class="focus-input"></span>
          </div>
          <div class="wrap-input">
            <input
              class="input"
              type="text"
              name="name"
              placeholder="Nombre completo"
            />
            <span class="focus-input"></span>
          </div>
          <div class="wrap-input">
            <input
              class="input"
              type="text"
              name="name"
              placeholder="Correo"
            />
            <span class="focus-input"></span>
          </div>
          
          <div class="wrap-input">
            <input
              class="input"
              type="password"
              name="password"
              placeholder="Contraseña"
            />
            <span class="focus-input"></span>
          </div>
          <div class="wrap-input">
            <input
              class="input"
              type="password"
              name="password"
              placeholder="Repetir contraseña"
            />
            <span class="focus-input"></span>
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customControlInline"
              />
              <label class="custom-control-label" for="customControlInline"
                >Recuérdame</label
              >
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="button" name="button" class="btn login_btn">
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          ¿Ya tienes cuenta?<a
            class="ml-1"
            routerLink="/login"
            routerLinkActive="active"
            >Iniciar sesión</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
